* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100dvh;
    width: 100dvw;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: aqua;
}

.active {
    color: whitesmoke;
    background-color: blueviolet;
}

button {
    background-color: inherit;
    border: 0;
}

.delete-project {
    height: 1rem;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      grey,
    );
    opacity: 0.75;
}

#newProjectForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    padding: 3rem;
}
